@import "tailwindcss";

:root{
    /* --primary:#FFFEFF;
    --primary-dark:#e0e0e0;

    --secondary:#f0f0f0;
    --secondary-dark:#1a1a1a;

    --bg-light:#3B0F40;
    --bg-dark:#1F1022;

    --text-light:#e0e0e0;
    --text-dark:#e0e0e0;

    --bg-active-light:#68446C;
    --bg-active-dark:#7D3986;

    --bg-hover-light:#68446c33;
    --bg-hover-dark:#7d398633; */

    --primary:#C0DAFF;
    --primary-dark:#2C3D50;

    --primary-gradient:#FCFEFF;
    --primary-dark-gradient:#020713;

    --primary:#2C3D50;

    --primary-gradient:#020713;

    --secondary:#2EC0BB;
    /* --secondary: #96FF03; */
    --secondary-dark:#1a1a1a;

    --white:#FFFEFF;
    --black:#090909;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(180deg,var(--primary),var(--primary-dark)); */
    /* background-image: linear-gradient(180deg,light-dark(var(--primary),var(--primary-dark)),light-dark(var(--primary-gradient),var(--primary-dark-gradient))); */
    background: light-dark(var(--primary),var(--primary-dark));
    background: radial-gradient(circle, light-dark(var(--primary),var(--primary-dark)) 0%, light-dark(var(--primary-gradient),var(--primary-dark-gradient)) 100%);
    font-family: "Inter", sans-serif;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}