.layout{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 110px 1fr;

  .outlet{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 40px 20px;
  }
}

.sidenav-container{
  height: 100vh;
  width: 110px;
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-columns: 80px;
  align-items: center;
  justify-content: center;
  // background-color: green;
  padding-inline: 10px;
  .brand-icon{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: clamp(2rem,2.5vw,2.5rem);
    }
  }

  .nav-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    --w-h-item: 50px;
    --position-y-active: 5px;
    background-color: light-dark(var(--white),var(--primary-dark));
    // background-color: light-dark(var(--primary-dark),var(--primary-dark));
    border-radius: 20px;
    .nav{
      position: relative;
      display: grid;
      grid-template-rows: repeat(5,var(--w-h-item));
      gap: clamp(10px,3vh,40px);
      width: 100%;
      height: 100%;
      li{
        z-index: 1;
        cursor: pointer;
        .nav-item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: clamp(5px,1vh,10px);
          z-index: 1;
          cursor: pointer;
          width: 100%;
          height: 100%;
          text-decoration: none;
          i{
            font-size: clamp(1.2rem,1.4vw,1.4rem);
            color: light-dark(var(--primary-dark-gradient),var(--primary-gradient));
            // color: light-dark(var(--primary-gradient),var(--primary-gradient));
            transition: all 0.5s ease-in-out;
          }
          .tooltip{
            position: absolute;
            left: 110%;
            background-color: var(--primary);
            padding: 5px 10px;
            border-radius: 10px;
            color: var(--primary-dark);
            opacity: 0;
            // transform-origin: right;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transform: translateX(-100%) scale(0);
            transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
            font-family: "Inter", sans-serif;
          }
          &:hover{
            .tooltip{
              opacity: 1;
              transform: translateX(0) scale(1);
            }
          }
          &.active{
            i{
              // scale: 1.1;
              // transform: translateX(10px);
              color: var(--primary);
            }
          }
        }
      }

      .theme-toggle{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: var(--w-h-item);
        width: var(--w-h-item);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        background-color: light-dark(var(--primary-gradient),var(--primary-dark-gradient));
      }

      .nav-effect{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: var(--position-y-active);
        width: var(--w-h-item);
        height: var(--w-h-item);
        // background-color: var(--primary);
        background-color: var(--secondary);
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .actions{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: 1px solid white;
    .action{
      padding: 10px;
      width: 50px;
      height: 50px;
      background-color: var(--secondary);
      color: var(--primary);
      border-radius: 20px;
      font-size: clamp(1rem,1.25vw,1.25rem);
      cursor: pointer;
    }
  }
}

// .header-container{
//   width: 100vw;
//   height: 70px;
//   display: grid;
//   padding-inline: 10px;
//   grid-template-columns: 25vw 50vw 25vw;
//   grid-template-rows: 70px;
//   grid-template-areas: "brand nav action";
//   align-items: center;
//   justify-content: center;

//   .brand-icon{
//     grid-area: brand;
//     height: 100%;
//     // background-color: var(--primary);
//     gap: 10px;
//     padding-left: clamp(30px,3.5vw,60px);
//     img{
//       width: clamp(1rem,1.5vw,1.5rem);
//     }
//     span{
//       background-color: var(--white);
//       height: clamp(1rem,1.5vw,1.5rem);
//       width: 1px;
//     }
//     h1{
//       font-family: "Lexend Giga", sans-serif;
//       font-size: clamp(1rem,1.5vw,1.5rem);
//       font-weight: 600;
//       color: var(--white);
//       margin-left: -2px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   .nav-container{
//     position: relative;
//     width: 100%;
//     height: 100%;
//     grid-area: nav;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     --w-item: 9vw;
//     --h-item: 50px;
//     --position-y-active: 5px;
//     .nav{
//       position: relative;
//       display: grid;
//       grid-template-columns: 1fr repeat(5,var(--w-item));
//       padding: 5px 5px;
//       border-radius: 25px;
//       width: 100%;
//       height: var(--h-item);
//       background-color: var(--white);
//       .nav-icon{
//         width: 40px;
//         height: 40px;
//         background-color: light-dark(var(--primary),var(--primary-dark));
//         color: var(--white);
//         border-radius: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         img{
//           padding: 10px;
//         }
//         i{
//           font-size: clamp(1rem,1.2vw,1.2rem);
//         }
//       }
//       li{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 10px;
//         z-index: 1;
//         cursor: pointer;
//         .nav-item {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           gap: clamp(5px,.5vw,10px);
//           z-index: 1;
//           cursor: pointer;
//           width: 100%;
//           height: 100%;
//           text-decoration: none;
//           .dot{
//             width: clamp(.3rem,.5vw,.5rem);
//             height: clamp(.3rem,.5vw,.5rem);
//             background-color: var(--white);
//             border-radius: 50%;
//             transition: all 0.5s ease-in-out;
//             scale: 0;
//           }
//           .text{
//             font-size: clamp(.6rem,1vw,1rem);
//             transition: all 0.5s ease-in-out;
//           }
//           &.active{
//             .dot{
//               scale: 1;
//             }
//             .text{
//               // font-weight: 600;
//               color: var(--white);
//             }
//           }
//         }
//       }
//       .nav-effect{
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         left: var(--position-y-active);
//         width: var(--w-item);
//         height: 40px;
//         // background-color: var(--primary);
//         background-color: light-dark(var(--secondary),var(--secondary-dark));
//         border-radius: 20px;
//         transition: all 0.5s ease-in-out;
//       }
//     }
//   }

//   .actions{
//     grid-area: action;
//     display: flex;
//     justify-content: end;
//     align-items: center;
//     padding-block: 10px;
//     padding-right: clamp(30px,3.5vw,60px);
//     height: 100%;
//     // background-color: var(--primary);
//     gap: 20px;
//     button{
//       cursor: pointer;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-size: clamp(0.8rem,1vw,1rem);
//       transition: all 0.5s ease-in-out;
//       &.upload{
//         padding: 0 20px;
//         background-color: var(--white);
//         color: var(--primary);
//         height: 50px;
//         border-radius: 30px;
//         gap: 10px;
//         // i{
//         //   display: none;
//         //   transition: all 0.5s ease-in-out;
//         // }
//         // &:hover{
//         //   i{
//         //     display: block;
//         //     opacity: 1;
//         //     transform: translateX(0) scale(1);
//         //     @starting-style {
//         //       opacity: 0;
//         //       transform: translateX(50px) scale(0);
//         //     }
//         //   }
//         // }
//       }
//       &.logout{
//         height: 50px;
//         width: 50px;
//         border-radius: 50%;
//         transition: all 0.5s ease-in-out;
//         background-color: var(--white);
//       }
//     }
//   }
// }

// @media screen and (max-width: 1086px) {
//   .header-container{
//     grid-template-columns: 25vw 50vw 25vw;
//     .nav-container{
//       --w-item: 8.7vw;
//     }
//   }
// }
// @media screen and (max-width: 840px) {
//   .header-container{
//     grid-template-columns: 20vw 60vw 20vw;
//     .nav-container{
//       --w-item: 8.5vw;
//     }
//   }
// }